/* Reset some defaults */



body, h1, h2 {
    margin: 0;
    padding: 0;
  }
  
  /* Enable smooth scrolling for manual scrolls */
  html {
    scroll-behavior: smooth;
  }
  
  /* Set the overall font */
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: rgb(230, 230, 230);
  }
  
  /* Floating circle styling */
  #floating-circle {
    position: fixed;
    width: 600px;          /* Adjust size as needed */
    height: 600px;
    background: rgba(230, 230, 230, 0.205);  /* Grey with low opacity */
    border-radius: 50%;
    filter: blur(20px);    /* Soft blurred effect */
    pointer-events: none;  /* Allows clicks to pass through */
    transform: translate(-50%, -50%); /* Centers the circle at the mouse position */
    transition: top 0.1s ease-out, left 0.1s ease-out;
    z-index: -9999;
  }

  #floating-circle main {
    overflow: hidden;
  }
  
  @keyframes fadeInUnblur {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
 
 /* Scroll Indicator container */
 .scroll-indicator {
    margin-top: 50px;
    font-family: "poppins", sans-serif;
    font-size: 1.6rem;
    color: #07485b;
    font-weight: 400;
}

.scroll-indicator a {
    text-decoration: none;
    color: #07485b;
    transition: color 0.2s ease;
}

.scroll-indicator .arrow {
    display: inline-block;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-left: 3px solid #07485b;
    border-bottom: 3px solid #07485b;
    transform: rotate(-45deg);
    animation: bounce 2s infinite;
    transition: border-color 0.2s ease;
}

/* When hovering over the entire container, update both the text and arrow styles */
.scroll-indicator:hover a {
    color: #0ac1bc;
}
.scroll-indicator:hover .arrow {
    color: #0ac1bc;
    border-left: 3px solid #0ac1bc;
    border-bottom: 3px solid #0ac1bc;
    transform: rotate(-45deg);
}

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0) rotate(-45deg);
    }
    50% {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
  
  
  
  /* LinkedIn logo styling */
  .linkedin-logo {
    width: 30px;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
  .linkedin-logo:hover {
    transform: scale(1.1);
  }

